.stars i {
    color: gold;
    font-size: 1.7rem;
    padding: 1rem .1rem;
}

.share {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.Food-img {}

.Food-img img {
    max-width: 500px;
}

.row1 {
    margin: 3rem;
    display: flex;
    gap: 13rem;
    width: 100%;
    justify-content: center;
    position: relative;
    overflow: auto;
}

.detail {
    width: 30%;
}

.tags {
    display: flex;
}

.detail-contents {
    width: 100%;
}

.collapsed {
    margin-top: 3rem;
}

.accordion {
    margin-top: 1rem;
}

.form-group {
    margin-bottom: 3rem;
}

.payment {
    margin-top: 3rem;
}

.shipping {
    margin-top: 3rem;
}

@media(max-width: 768px) {
    .row1 {
        display: list-item;
    }
}